.category-search-container {
  margin-top: 2rem;
  text-align: center;
}

h1 {
  margin-top: 3rem;
  font-size: 2.4rem;
  color: red;
}

.category-cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 3rem;
}

@media screen and (max-width: 767px) {
  .category-cards-grid {
    justify-content: center;
  }

  .category-cards-grid .category-card {
    flex-basis: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .category-cards-grid .category-card {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .category-cards-grid .category-card {
    flex-basis: calc(25% - 1rem);
    margin-bottom: 2rem;
  }
}
