.footer-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 130, 130);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  width: 100%;
  justify-items: center;
}

.logo {
  font-size: 2.5rem;
  color: black;
  font-weight: bolder;
}

.logo span {
  color: red;
}

.footer-left-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.footer-right-div {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin-left: 10rem;
}

.company-info h2,
.quick-links h2,
.follow-relay h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.company-info p {
  font-size: 1.1rem;
  font-weight: 500;
}

.quick-links li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.quick-links li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.follow-relay {
  display: flex;
  flex-direction: column;
}

.follow-relay-svg {
  display: flex;
  gap: 1rem;
}

.follow-relay-svg i:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .footer-logo {
    margin-bottom: 2rem;
  }
  .footer-main-div {
    flex-direction: column;
  }

  .footer-left-div {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
  }

  .footer-right-div {
    display: contents;
    text-align: center;
    justify-content: center;
  }

  .footer-right-div .company-info,
  .quick-links {
    margin-bottom: 3rem;
  }

  .footer-right-div .company-info h2,
  .quick-links h2,
  .follow-relay h2 {
    margin-bottom: 1rem;
  }

  .follow-relay-svg {
    margin: auto;
  }

  .follow-relay-svg i {
    padding-right: 10px;
  }
}
