/* Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  width: 60%;
}

.modal-content .details-container img {
  margin-top: 0;
  margin-bottom: 2rem;
}

.modal-content .details-container .product-details h2 {
  font-size: 2rem;
  text-align: left;
}

.modal-content .details-container .product-details p {
  margin-bottom: 16px;
  margin-top: 1rem;
  color: gray;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: left;
  overflow: hidden;
}

.modal-content button {
  padding: 8px 16px;
  background-color: #a01c1c;
  border: none;
  /* color:rgb(114, 190, 0); */
  border-radius: 4px;
  cursor: pointer;
}

.details-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

@media (max-width: 768px) {
  .modal-content .details-container img {
    width: 100%;
  }
  .details-container {
    flex-direction: column;
  }

  .modal-content .details-container .product-details h2 {
    margin-top: -3rem;
    letter-spacing: -1px;
  }

  .addButton {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
