.search {
  margin-top: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding-right: 50px;
  width: 40rem;
  border: 1px solid rgb(255, 143, 143);
}

.search-input:focus {
  border: 1px solid red;
}

.fa-camera {
  font-size: 2rem;
  margin-left: -3.3rem;
  cursor: pointer;
}

.fa-camera:hover {
  color: red;
}
